.post-project > a {
    position: absolute;
    top: -20px;
    right: -20px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}
.post-project > a:hover {
    color: #fff;
}
.post-project {
    float: left;
    width: 100%;
    position: relative;
}
.post-project h3 {
    float: left;
    width: 100%;
    background-color: #e44d3a;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;
}
.post-project-fields {
    float: left;
    width: 100%;
    padding: 30px 20px;
    background-color: #fff;
}
.post-project-fields form {
    float: left;
    width: 100%;
}
.post-project-fields form input {
    padding: 0 15px;
    height: 40px;
}
.post-project-fields form textarea {
    padding: 15px;
    height: 130px;
}
.post-project-fields form input,
.post-project-fields form textarea,
.post-project-fields form select {
    width: 100%;
    color: #b2b2b2;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
    font-weight: 500;
}
.post-project-fields form select {
    height: 40px;
    padding: 0 10px;
}
.post-project-fields form ul {
    float: left;
    margin-top: 10px;
    width: 100%;
}
.post-project-fields form ul li {
    display: inline-block;
    margin-right: 15px;
}
.post-project-fields form ul li button.active {
    background-color: #e44d3a;
    color: #fff;
}
.post-project-fields form ul li button,
.post-project-fields form ul li a {
    color: #000000;
    font-size: 16px;
    border: 1px solid #e5e5e5;
    padding: 10px 25px;
    display: inline-block;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.post-project-fields form ul li button:hover,
.post-project-fields form ul li a:hover {
    background-color: #e44d3a;
    color: #fff;
}


/*

.post-popup {
    width: 570px;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.65);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.65);
    -ms-transform: translateX(-50%) translateY(-50%) scale(0.65);
    -o-transform: translateX(-50%) translateY(-50%) scale(0.65);
    transform: translateX(-50%) translateY(-50%) scale(0.65);
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}
.post-popup.active {
    opacity: 1;
    visibility: visible;
    z-index: 999;
    -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
}
*/
